node_modules
package-lock.json
build/

index.css
client/dist/index.html

bundle.js
bundle.js.LICENSE.txt
bundle.js.map
/client/dist/bundle.js.map
/client/dist/bundle.js.LICENSE.txt
/client/dist/index.css
/client/dist/index.css.map
/client/dist/*.otf
/client/dist/*.ttf

.DS_Store
.vs